kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{dbType}}-cr
rules:
- apiGroups:
  - extensions
  resources:
  - podsecuritypolicies
  resourceNames:
  - {{dbType}}-psp
  verbs:
    - use
- apiGroups: [""]
  resources: ["pods", "pods/log", pods/exec]
  verbs: ["get", "list", "patch", "watch", "update", "create"]

- apiGroups: [""]
  resources: ["services"]
  verbs: ["get", "list"]

- apiGroups: ["batch", "extensions"]
  resources: ["jobs"]
  verbs: ["get", "list", "watch", "patch"]