{{ define "title.slack" }}{{ .GroupLabels.namespace}}/{{ .GroupLabels.es_workload }} [{{ .Status | toUpper }}][{{ .GroupLabels.severity | toUpper }}]{{ end }}
{{ define "text.slack" }}{{ range .Alerts }}_{{ .Labels.name }}_
{{ end }}{{- end -}}
