# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
# As per ICp quidance
cv-tests/
requirements.lock
charts/ibm-hdm-analytics-dev/LICENSES/*
charts/ibm-hdm-analytics-dev/licenses/*
charts/ibm-hdm-analytics-dev/L_*.zip
charts/ibm-hdm-analytics-dev/charts/kafka/ibm_cloud_pak/manifest.yaml
charts/ibm-hdm-analytics-dev/charts/zookeeper/ibm_cloud_pak/manifest.yaml
