name: ibm-metadata-api
version: "${VERSION_TAG}"
description: Automated Metadata Generation
maintainers:
  - name: IBM Watson Knowledge Catalog
keywords:
  - amd64
  - Watson
  - Commercial
  - Limited
  - RHOCP
  - Automation
apiVersion: v1
appVersion: "${VERSION_TAG}"
tillerVersion: ">=2.9.0"
kubeVersion: ">=1.11"
