[req]
default_bits = 2048
default_keyfile = public.crt
distinguished_name  = req_distinguished_name
req_extensions     = req_ext
x509_extensions = x509_ext
string_mask = utf8only

[req_distinguished_name]
countryName           = Country Name (2 letter code)
countryName_default   = US
stateOrProvinceName   = State or Province Name (full name)
stateOrProvinceName_default = New York
localityName          = Locality Name (eg, city)
localityName_default  = New York
organizationName          = Organization Name (eg, company)
organizationName_default  = IBM Watson
commonName            = Common Name (eg, YOUR name)
commonName_default    = ibm
commonName_max        = 64

[x509_ext]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints = CA:FALSE
subjectAltName = @alt_names

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = sire-minio-ibm-minio-objectstore
DNS.2 = sire-minio-ibm-minio-objectstore.sire-dev-privileged
DNS.3 = sire-minio-ibm-minio-objectstore.sire-dev-privileged.svc.cluster.local
DNS.4 = *.sire-minio-ibm-minio-objectstore
DNS.5 = *.sire-minio-ibm-minio-objectstore.sire-dev-privileged
DNS.6 = *.sire-minio-ibm-minio-objectstore.sire-dev-privileged.svc.cluster.local
DNS.7 = localhost
IP.1 = "127.0.0.1"
