charts:
  - archive: file:${helmChartArchive}
    repository-keys:
      - global.image.repository

images:
  - image: eventstreams-healthcheck:${healthcheckTag}
    references:
    - repository: eventstreams-healthcheck:${healthcheckTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-healthcheck:${healthcheckTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-kafka:${kafkaTag}
    references:
    - repository: eventstreams-kafka:${kafkaTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-kafka:${kafkaTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-zookeeper:${zookeeperTag}
    references:
    - repository: eventstreams-zookeeper:${zookeeperTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-zookeeper:${zookeeperTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-ui:${uiTag}
    references:
    - repository: eventstreams-ui:${uiTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-ui:${uiTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-proxy:${proxyTag}
    references:
    - repository: eventstreams-proxy:${proxyTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-proxy:${proxyTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-rest:${restTag}
    references:
    - repository: eventstreams-rest:${restTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-rest:${restTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-codegen:${codegenTag}
    references:
    - repository: eventstreams-codegen:${codegenTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-codegen:${codegenTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-replicator:${replicatorTag}
    references:
    - repository: eventstreams-replicator:${replicatorTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-replicator:${replicatorTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-kafka-metrics-reporter:${metricsReporterTag}
    references:
    - repository: eventstreams-kafka-metrics-reporter:${metricsReporterTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-kafka-metrics-reporter:${metricsReporterTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-role-mappings:${roleMappingsTag}
    references:
    - repository: eventstreams-role-mappings:${roleMappingsTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-role-mappings:${roleMappingsTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-oauth-registration:${oauthTag}
    references:
    - repository: eventstreams-oauth-registration:${oauthTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-oauth-registration:${oauthTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-kafka-proxy:${kafkaProxyTag}
    references:
    - repository: eventstreams-kafka-proxy:${kafkaProxyTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-kafka-proxy:${kafkaProxyTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-elastic-search:${elasticSearchTag}
    references:
    - repository: eventstreams-elastic-search:${elasticSearchTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-elastic-search:${elasticSearchTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-kafka-metrics-proxy:${kafkaMetricsProxyTag}
    references:
    - repository: eventstreams-kafka-metrics-proxy:${kafkaMetricsProxyTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-kafka-metrics-proxy:${kafkaMetricsProxyTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-index-manager:${indexmgrTag}
    references:
    - repository: eventstreams-index-manager:${indexmgrTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-index-manager:${indexmgrTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-certs:${certGenTag}
    references:
    - repository: eventstreams-certs:${certGenTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-certs:${certGenTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-access-controller:${accessControllerTag}
    references:
    - repository: eventstreams-access-controller:${accessControllerTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-access-controller:${accessControllerTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-kubectl:${kubectlTag}
    references:
    - repository: eventstreams-kubectl:${kubectlTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-kubectl:${kubectlTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: eventstreams-telemetry:${telemetryTag}
    references:
    - repository: eventstreams-telemetry:${telemetryTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/${folder}/eventstreams-telemetry:${telemetryTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: busybox:${busyboxTag}
    references:
    - repository: busybox:${busyboxTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/deps/busybox:${busyboxTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: redis:${redisTag}
    references:
    - repository: redis:${redisTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/deps/redis:${redisTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD
  - image: alpine:${alpineTag}
    references:
    - repository: alpine:${alpineTag}
      pull-repository: hyc-qp-docker-local.artifactory.swg-devops.com/deps/alpine:${alpineTag}
      pull-authorization:
        username:
          env: ARTIFACTORY_USERNAME
        password:
          env: ARTIFACTORY_PASSWORD

