# MariaDB database server configuration file.
#
# You can copy this file to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port		= 3168
socket		= /var/run/mysqld/mysqld.sock
ssl-ca=/etc/mysql/certs/rootCA.pem
ssl-cert=/etc/mysql/certs/maria_dev.crt
ssl-key=/etc/mysql/certs/maria_dev.key

[mysql]
default-character-set=utf8

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
skip-host-cache
skip-name-resolve

ssl-ca=/etc/mysql/certs/rootCA.pem
ssl-cert=/etc/mysql/certs/maria_dev.crt
ssl-key=/etc/mysql/certs/maria_dev.key
#ssl-cipher=TLSv1.2

#
# * Basic Settings
#
user		= root
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3168
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc_messages_dir	= /usr/share/mysql
lc_messages	= en_US
skip-external-locking

init-connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_general_ci
skip-character-set-client-handshake


sql-mode="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY"

#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= *
#
# * Fine Tuning
#
max_connections		= 600
connect_timeout		= 10
wait_timeout		= 28800
max_allowed_packet	= 16M
thread_cache_size       = 16
sort_buffer_size	= 2048k
bulk_insert_buffer_size	= 16M
tmp_table_size		= 4G
max_heap_table_size	= 8G
innodb_additional_mem_pool_size=1024M
innodb_encryption_threads=0
innodb_stats_persistent_sample_pages=2000
net_buffer_length = 8K
read_rnd_buffer_size = 2048K
thread_stack = 512K
thread_concurrency = 10

#plugin-load-add=file_key_management.so
#file_key_management_encryption_algorithm=aes_ctr
#file_key_management_filename = /etc/mysql/certs/keys.enc
#file_key_management_filekey = secret

#innodb-encrypt-tables
#innodb-encrypt-log
#innodb-encryption-threads=4


#
# * MyISAM
#
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched. On error, make copy and try a repair.
myisam_recover_options = BACKUP
key_buffer_size		= 128M
#open-files-limit	= 2000
table_open_cache	= 1024
myisam_sort_buffer_size	= 256M
concurrent_insert	= 2
read_buffer_size	= 1024K
myisam_max_sort_file_size=100G

#
# * Query Cache Configuration
#
# Cache only tiny result sets, so we can fit more in the query cache.
query_cache_limit		= 1024M
query_cache_size		= 2048M
# for more write intensive setups, set to DEMAND or OFF
#query_cache_type		= DEMAND
table_definition_cache=4000
#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
#general_log_file        = /var/log/mysql/mysql.log
#general_log             = 1
#
# Error logging goes to syslog due to /etc/mysql/conf.d/mysqld_safe_syslog.cnf.
#
# we do want to know about network errors and such
#log_warnings		= 2
#
# Enable the slow query log to see queries with especially long duration
#slow_query_log[={0|1}]
slow_query_log=1
slow_query_log_file	= /var/log/mysql/mariadb-slow.log
long_query_time = 30
#log_slow_rate_limit	= 1000
#log_slow_verbosity	= query_plan

#log-queries-not-using-indexes
#log_slow_admin_statements
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
#server-id		= 1
#report_host		= master1
#auto_increment_increment = 2
#auto_increment_offset	= 1
#log_bin			= /var/log/mysql/mariadb-bin
#encrypt_binlog
#encrypt_tmp_files

#log_bin_index		= /var/log/mysql/mariadb-bin.index
# not fab for performance, but safer
#sync_binlog		= 1
expire_logs_days	= 10
max_binlog_size         = 100M
# slaves
#relay_log		= /var/log/mysql/relay-bin
#relay_log_index	= /var/log/mysql/relay-bin.index
#relay_log_info_file	= /var/log/mysql/relay-bin.info
#log_slave_updates
#read_only
#
# If applications support it, this stricter sql_mode prevents some
# mistakes like inserting invalid dates etc.
#sql_mode		= NO_ENGINE_SUBSTITUTION,TRADITIONAL
#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
default_storage_engine	= InnoDB
# you can't just change log file size, requires special procedure
innodb_log_file_size		= 1280M
innodb_buffer_pool_size		= 40G
innodb_lock_wait_timeout        = 500
# Buufer pool was 57344M
innodb_log_buffer_size		= 8M
innodb_file_per_table		= 1
innodb_open_files		= 400
innodb_io_capacity		= 2000
innodb_flush_method		= O_DIRECT
innodb_flush_log_at_trx_commit 	= 2
innodb_thread_concurrency 	= 10
log-slow-verbosity = query_plan,explain

group_concat_max_len	= 4294967295
lower_case_table_names	= 1

default-time-zone="+00:00"


[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[isamchk]
key_buffer		= 16M
