# Configuration file for create-noi-secret.sh script.
# Refer to the "Pre-installation Tasks, Gathering ObjectServer Details" section in
# the chart README.md file to gather the required parameter value.
# The item name from "Gathered Facts" table is referenced
# the parameter description where applicable.


# (Required) The name to use when creating the Netcool secret.
# For example <release-name>-objserv-secret
SECRET_NAME=

# (Required) The target namespace for the Netcool secret. Set to
# the namespace where the CEM Gateway chart will be installed.
NAMESPACE=

# (Required) The CEM Gateway image name with tag name. Please set to the
# correct image name and image tag.
# Required to run the nco_gskcmd tool to create the required key database files.
# You may pull the image from a remote registry by specifying the full repository name 
# or first pull an image from your private image registry to your local file system and then
# use the local image.
# For example, to pull an image from your private image registry to your
# local file system, run the Docker pull command.
# "sudo docker pull <cluster_CA_domain>:8500/namespacename/netcool-gateway-cem:tagname"
IMAGE_NAME=netcool-gateway-cem:latest

# (Required) Specify an empty directory as workspace.
# If the directory is not empty, the script will stop to avoid overwriting existing contents.
TEMP_DIR=/tmp/netcool-secret

# (Required) Specify the key database password.
KEY_DATABASE_PASSWORD=

###############################
## AUTHENTICATION PARAMETERS ##
###############################
# Parameters related to authentication with the object server.

# (Required) Specify the username and password that the gateway should use
# to authenticate with the Object Server. These parameters will be
# set as the "Gate.RdrWtr.Username" and "Gate.RdrWtr.Password" gateway
# parameters in the helm release.
# These should be set to the "NOI_OMNI_USER" and "NOI_OMNI_USER" value from the
# "Gathered Facts" table.
AUTH_USERNAME=root
AUTH_PASSWORD=

# (Optional) Specifies an existing key file to encrypt the AUTH_PASSWORD.
# If the file doesn't exist, a key file will be created automatically.
ENCRYPTION_KEYFILE=encryption.keyfile

# Set to true to run in clean mode. This will delete any files in 
# TEMP_DIR and SECRET_NAME if already exists.
CLEAN_START=false


####################
## TLS PARAMETERS ##
####################
# Set to true to use TLS secured communications.
TLS_ENABLED=true

# If TLS_ENABLED=true, the following parameters are required
# to create the required key database files with NOI TLS certificate.

# (Required) The NOI release name.
# This should be set to the "NOI_RELEASE_NAME" value from
# the "Gathered Facts" table.
NOI_RELEASE_NAME=

# Set NOI_NAMESPACE to the release where the NOI release above is installed.
# This should be set to the "NOI_NAMESPACE" value from
# the "Gathered Facts" table.
NOI_NAMESPACE=default

# The Netcool Operations Insight TLS Secret Name.
# The default secret name is {{ .Release.Name }}-proxy-tls-secret, where {{ .Release.Name }} is the
# NOI_RELEASE_NAME set above.
# Update this the actual secret name if a custom TLS secret is used for NOI.
# This should be set to the "NOI_TLS_SECRET_NAME" value from the "Gathered Facts" table.
NOI_TLS_SECRET_NAME=$NOI_RELEASE_NAME-proxy-tls-secret


