# =====================================================================================	
# IBM Confidential	
# OCO Source Materials	
# 5725-W99	
# (c) Copyright IBM Corp. 1998, 2020	
# The source code for this program is not published or otherwise divested of its	
# trade secrets, irrespective of what has been deposited with the U.S. Copyright Office.	
# ======================================================================================	

# =========================	
# BaaS Config File (v0.1.2)	
# =========================	

# ---------------------------------------------	
# GLOBAL BAAS CREDENTIALS	
# ---------------------------------------------	
# This account needs to be pre-configured	
# by the administrator on all external	
# components like IBM Spectrum Protect Plus	
# (e.g. using LDAP) or vSNAP. 	
# The BAAS_PASSWORD for this account will be 	
# prompted for during the execution of the	
# installation script if it is not set in this 	
# configuration file. 	
# It is recommended to leave BAAS_PASSWORD	
# empty (BAAS_PASSWORD="") or comment the line	
# out in order to *not* reveal the password 	
# in clear text in this configuration file.	
# ---------------------------------------------	

# PRODUCT ACCOUNT USER NAME	
BAAS_ADMIN="isppadmin"	

# PRODUCT ACCOUNT PASSWORD (leave empty "" to be prompted for it)	
# BAAS_PASSWORD=""	
BAAS_PASSWORD=""	

# ---------------------------------------------	
# PRODUCT LICENSE CHECK	
# ---------------------------------------------	
# By default this value is set to NOTACCEPTED.
# Read the following license agreement and then 
# set the value to ACCEPTED. If the default
# value is not changed, then you will be 
# prompted to accept the license during
# installation. Otherwise, the installation 
# will fail.
# The license file is located in the
# licenses/LICENSE-en directory. Versions are 
# available in other languages at:
# http://www-03.ibm.com/software/sla/sladb.nsf/searchlis/?searchview&searchorder=4&searchmax=0&query=(Spectrum+Protect+Plus))
# ---------------------------------------------
LICENSE="NOTACCEPTED"

# ---------------------------------------------	
# IBM SPECTRUM PROTECT PLUS (SPP) CONFIGURATION	
# ---------------------------------------------	

# SPP IP ADDRESS (IPv4-ADDRESS)	
SPP_IP_ADDRESSES="x.x.x.x"	

# SPP PORT TO BE USED (DEFAULT 443)	
SPP_PORT="443"	

# SPP AGENT NODEPORT
# Leave empty "" to have a nodePort value automatically assigned
SPP_AGENT_SERVICE_NODEPORT=""

# ---------------------------------------------	
# NETWORKPOLICY CONFIGURATION OPTIONS	
# ---------------------------------------------	

# CLUSTER CIDR 	
# PLEASE RUN COMMAND "kubectl cluster-info dump | grep -m 1 cluster-cidr" TO FIND IT	
CLUSTER_CIDR="192.168.0.0/16"	

# CLUSTER API SERVER IP ADDRESS 	
# CLUSTER API SERVER PORT	
# PLEASE RUN "kubectl config view" COMMAND AND FIND SERVER IN CLUSTER SECTION	
# For example, kubectl config view	
# clusters:	
#- cluster:	
#    certificate-authority-data: DATA+OMITTED	
#    server: https://x.x.x.x:6443	

CLUSTER_API_SERVER_IP_ADDRESS="x.x.x.x"	
CLUSTER_API_SERVER_PORT="6443"	

# THE CLUSTER NAME SHOW ON SPP GUI.	
# USERS CAN SET IT WHATEVER THEY WANT	
# BUT PLEASE MAKE SURE IT SHOULD BE UNIQUE IN SPP SERVER	
CLUSTER_NAME=""	

# ---------------------------------------------	
# PRODUCT DEPLOYMENT AND CONFIGURATION OPTIONS	
# ---------------------------------------------	

# TARGET NAMESPACE TO DEPLOY PRODUCT	
PRODUCT_NAMESPACE="baas"	

# TARGET NAMESPACE TO DEPLOY PRODUCT	
OPERATOR_NAMESPACE="default"	

# TARGET CONTAINER ORCHESTRATION PLATFORM CUSTOMIZATION 	
# VALUES: OCP (OpenShift), ICP (IBM Cloud Private), K8S (Kubernetes)	
PRODUCT_TARGET_PLATFORM="K8S"	

# TARGET CONTAINER ORCHESTRATION PLATFORM	
# LOCALIZATION options are: 	
# en_US (English USA), cs_CZ (Czech Czech Republic), de_DE (German Germany), es_ES (Spanish Spain), 	
# fr_FR (French France), hu_HU (Hungarian Hungary), it_IT (Italian Italy), ja_JP (Japanese Japan), pl_PL (Polish Poland),	
# pt_BR (Portuguese Brazil), ru_RU (Russian Russia), zh_CN (Chinese Simplified China), zh_TW (Chinese Traditional Taiwan)	
PRODUCT_LOCALIZATION="en_US"	

# PRODUCT_LOGLEVEL trace options are: INFO, DEBUG, ERROR	
PRODUCT_LOGLEVEL="INFO"	

# ----------------------	
# PRODUCT IMAGE REGISTRY	
# ----------------------   	

# This configuration file is set up to pull images from the IBM Entitled registry.
# You will need your IBM entitled registry API key
# - login to https://myibm.ibm.com/products-services/containerlibrary
# - copy your entitlement key and use it as your-api-key in the kubectl commands shown below
# 1) Create an image pull secret prior to product installation
#    Note: The secret must be copied to all other namespaces assigned to 
#    Persistent Volume Claims (PVCs) that are to be protected
#
# For example, prior to install:
#
#  - Create a docker-registry secret for the baas namespace
#
#      kubectl create secret docker-registry "baas-registry-secret" 
#         --namespace "baas" --docker-server="cp.icr.io/cp/sppc" 
#         --docker-username="your-name" --docker-password="your-api-key" 
#         --docker-email="yourname@your.company.com"
#
#  - Determine the namespaces of any PVCs that are to be protected
#
#      kubectl get pvc --all-namespaces
#
#  - For each namespace that you want to protect, copy the baas secret to that PVC's namespace
# 
#      kubectl get secret "baas-registry-secret" 
#         --namespace="baas" --export -o yaml | kubectl apply --namespace="<namespace-name>" -f -
#

# EXTERNAL IMAGE REGISTRY - IBM Entitled Registry - do not change
PRODUCT_IMAGE_REGISTRY="cp.icr.io"

# EXTERNAL IMAGE REGISTRY NAMESPACE - do note change
PRODUCT_IMAGE_REGISTRY_NAMESPACE="cp/sppc"	

# NAME OF IMAGE-PULL-SECRET FOR ACCESS TO THE IBM Entitled REGISTRY	
PRODUCT_IMAGE_REGISTRY_SECRET_NAME="baas-registry-secret"
