charts:
  - archive: file:repo/stable/{{ chartName }}-{{ chartVersion }}.tgz
    repository-keys:
      - image.repository
images:
- image: zen-databases-catalog-mongodb:v2.5.0.0-160-x86_64
  references:
  - repository: zen-databases-catalog-mongodb:v2.5.0.0-160-x86_64
- image: opsmanager:v2.5.0.0-160-x86_64
  references:
  - repository: opsmanager:v2.5.0.0-160-x86_64
- image: configops:v2.5.0.0-160-x86_64
  references:
  - repository: configops:v2.5.0.0-160-x86_64
- image: apimgmt:v2.5.0.0-160-x86_64
  references:
  - repository: apimgmt:v2.5.0.0-160-x86_64
- image: mongodb-enterprise-operator:v2.5.0.0-160-x86_64
  references:
  - repository: mongodb-enterprise-operator:v2.5.0.0-160-x86_64
- image: mongodb-enterprise-database:v2.5.0.0-160-x86_64
  references:
  - repository: mongodb-enterprise-database:v2.5.0.0-160-x86_64
