<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="60" status="info">

	<Properties>
    	<Property name="requestResponseLevel">${env:REQUEST_RESPONSE_LOG_LEVEL:-INFO}</Property>
  	</Properties>
  
	<Appenders>

		<Console name="console" target="SYSTEM_OUT">
			<GSLog4jLayout />
		</Console>

		<RollingFile name="searchlog" fileName="global_search.log" filePattern="global_search.log.%i">
			<PatternLayout  charset="UTF-8"
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [trace-id: %X{trace-id}] [%t] %c{1}.%M - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

	</Appenders>


	<Loggers>
		<Logger name="com.ibm.wkc.gs" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="searchlog" />
 		</Logger>
		<Logger name="com.ibm.wkc.search" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="searchlog" />
 		</Logger>

		<Logger name="com.ibm.wkc.gs.app.filters.RequestLoggingFilter" level="${requestResponseLevel}" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="searchlog" />
 		</Logger>

		<Logger name="com.ibm.wkc.gs.app.filters.ResponseLoggingFilter" level="${requestResponseLevel}" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="searchlog" />
 		</Logger>

		<Root level="INFO">
			<AppenderRef ref="console" />
			<AppenderRef ref="searchlog" />
		</Root>

	</Loggers>

</Configuration>
