# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
ppa-specs
ibm-watson-gateway-*
node_modules
package-lock.json
.travis.yml
linux-amd64
helm-*.tar*
.bumpversion.cfg
.releaserc
.yamllint.yaml
templates.yaml
CHANGELOG.md
.secrets.baseline
templates.yml
values-local.yml
cv-tests
unit-tests/
templates/99-tmp-custom.yaml