# type will be either "assembly" or "module", mandatory
type: assembly
# mandatory - once this file uploaded, we will not delete any more,
# but if this version too old, the download/deploy will tell this product is not valid any more, and show the latest version
# We can also add dev, candidate etc here and telling the user what is the state
lifeCycle: live
# This license will show at the download time and the install time, optional. If specified, then will ask user to explicitly accept
license: http://icp4d.ibm.com
# The name is for information only, download/deploy command will refer this product based on file name, mandatory
name: Hadoop Execution
# Version is mandatory
version: 3.0.136
# Descriptioin is optional
description: Hadoop Execution Addon
# architecture is optional
# if this is missing, each module/subproduct has to specify architecture, if both specified, syntax error
# sub product have to be homogerious architucture
architecture: {{ arch }}
# Optional, this will be the final override yaml to override all values in the chart, including those defined in module yaml
# To be discussed after Oct - consult with the install team to make sure this is implemented
# overrideValues:
installOverride: override.yaml
upgradeOverride: override.yaml
# bricks is mandatory, it could contains another "product"
# When all the modules are obtained, it has to check if there is duplicate of names, if so, error out,
# although we allow include the sub "assembly", but the sub-assembly can ONLY allow modules, but not another assembly
# We will have linter to check to make sure the rules
#
# Version is hardcoded for now, we will address the version compatiblities after Oct GA
bricks:
  - name: lite
    version: 3.0.1
    type: assembly
  - name: wsl
    version: 3.0.1
    type: assembly
  - name: hadoop-addon
    version: 3.0.{{ build_num }}
    type: module
