# This file is in fileserver
type: module
# The module can be either "template" or "helm-chart"
category: helm-chart
name: hadoop-addon # The name here just for information purpose, not for "product" reference, it should rely on file name
description: This is used for the hadoop addon
# Registry information, this will map to a name in the server-info.yaml
registry-reference: base
# Optional, this will be the final override yaml to override all values in the chart, including those defined in module yaml
# To be discussed after Oct - consult with the install team to make sure this is implemented
#installOverride: install-override.yaml
# Provide a list of the image tag here
# If the image tag found in the helm chart but not in the list, cpd will fail
images:
  - name: privatecloud-utils-api
    tag: {{ utils_api_image_tag }}
chart: ibm-hadoop-addon-prod-3.0.{{ build_num}}.tgz
# For download to verify the chart file is correct, optional
md5: {{ chart_md5sum }}
# in minutes, optional, this will wait the pods to all running from the installer, optional, default is 20 minutes
timeout: 20
# The name will be used for helm release name as <namespace-releaseName>, optional, default will be <namespace-name>
releaseName: ibm-hadoop-addon-prod
helmUpgradeForce: true
