registry:
  - url: hyc-cp4d-team-bootstrap-docker-local.artifactory.swg-devops.com
    username: username
    apikey: apikey
    namespace: ""
    name: base-registry
  - name: base
    url: hyc-cp4d-team-wsl-docker-local.artifactory.swg-devops.com
    username: username
    apikey: apikey
    namespace: ""
  - url: hyc-cp4d-team-wkc-docker-local.artifactory.swg-devops.com
    username: username
    apikey: apikey
    namespace: ""
    name: wkc-registry
fileservers:
  - url: http://icpfs1.svl.ibm.com/zen/cp4d-builds/3.0.1/dev/components/lite/latest
  - url: http://icpfs1.svl.ibm.com/zen/cp4d-builds/3.0.1/dev/components/common-core-services/latest
  - url: http://icpfs1.svl.ibm.com/zen/cp4d-builds/3.0.1/dev/components/wsl/latest
  - url: http://icpfs1.svl.ibm.com/zen/cp4d-builds/3.0.1/dev/components/hadoop-addon/3.0.{{ build_num }}
