<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="60" status="info">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
     <CamsLog4jLayout/>
    </Console>
    <Console name="console_security" target="SYSTEM_OUT">
        <CamsLog4jLayout auditLog="true"/>
    </Console>

    <RollingFile name="catalogfile" fileName="logs/catalog.log" filePattern="logs/catalog-%d{yyyy-MM-dd-HH}.log.gz">
      <CamsLog4jLayout/>
      <Policies>
            <!-- roll over after 3 hours.  This will take approximately 300 MB (uncompressed)-->
           <TimeBasedTriggeringPolicy interval="3" modulate="true"/>
           <SizeBasedTriggeringPolicy size="1 GB" />
      </Policies>
      <!-- Keep 56 files, for a total of 1 week of logs -->
      <DefaultRolloverStrategy max="56" />
    </RollingFile>

    <RollingFile name="catalogsecurity" fileName="logs/catalogsecurity.log" filePattern="logs/catalogsecurity.%i.log.gz">
      <CamsLog4jLayout auditLog="true"/>
      <Policies>
         <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="10"/>
      </RollingFile>
    </Appenders>


    <Loggers>
    <Logger name="com.ibm.catalog" level="debug" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>

    <Logger name="com.ibm.catalog.security" level="debug" additivity="false">
      <AppenderRef ref="catalogsecurity"/>
    </Logger>

    <Logger name="com.ibm.catalog.unified.security" level="debug" additivity="false">
      <AppenderRef ref="catalogsecurity"/>
    </Logger>

    <Logger name="com.ibm.catalog.v2.security" level="debug" additivity="false">
      <AppenderRef ref="catalogsecurity"/>
    </Logger>

    <Logger name="com.ibm.catalog.security.SecurityUtils" level="error" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogsecurity"/>
    </Logger>

    <Logger name="com.ibm.catalog.v2.security.SecurityUtils" level="error" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogsecurity"/>
    </Logger>

    <Logger name="com.ibm.catalog.unified.security.SecurityUtilsBase" level="error" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogsecurity"/>
    </Logger>

    <!--  enable this for request response time logging of authentication ... -->
    <!--
    <Logger name="com.ibm.catalog.security.SecurityUtils" level="trace" additivity="false">
      <AppenderRef ref="console_security"/>
      <AppenderRef ref="catalogsecurity"/>
    </Logger>
    -->
    <!--
    <Logger name="com.ibm.catalog.v2.security.SecurityUtils" level="trace" additivity="false">
      <AppenderRef ref="console_security"/>
      <AppenderRef ref="catalogsecurity"/>
    </Logger>
    -->
    <!--
    <Logger name="com.ibm.catalog.unified.security.SecurityUtilsBase" level="trace" additivity="false">
      <AppenderRef ref="console_security"/>
      <AppenderRef ref="catalogsecurity"/>
    </Logger>
    -->
    <!--  enable this for request response time logging of outbound REST calls... -->
    <!--
    <Logger name="com.ibm.catalog.unified.utils.RESTUtils" level="trace" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    -->
    <!--  enable this for request response time logging of Cloudant calls via wrapper class... -->
    <Logger name="com.ibm.catalog.unified.db.CloudantDB" level="trace" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    <!--  enable this for request response time logging of Cloudant Search calls... -->
    <Logger name="com.ibm.catalog.unified.db.CloudantSearch" level="trace" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    <!--  enable this for request response time logging of storage calls... -->
    <!--
    <Logger name="com.ibm.catalog.unified.storage.AmazonS3Connection" level="trace" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    -->
    <Logger name="com.ibm.catalog.unified.storage.BluemixS3Connection" level="trace" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    <!--  enable this for request response time logging of RabbitMQ calls... -->
    <!--
    <Logger name="com.ibm.catalog.messagehub.CatalogRabbitMQ" level="trace" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    -->
    <!--
    <Logger name="com.ibm.catalog.v2.messagehub.CatalogRabbitMQ" level="trace" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    -->
    <!--  Logs from wkc-share project -->
    <Logger name="com.ibm.wkc.shared" level="debug" additivity="false">
      <AppenderRef ref="console" />
      <AppenderRef ref="catalogfile" />
    </Logger>
    <Logger name="com.ibm.catalog.openmetadata" level="debug" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    <Logger name="com.ibm.catalog.openmetadata.adapters.repositoryconnector.WKCOMRSMetadataCollection" level="debug" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="console"/>
      <AppenderRef ref="catalogfile"/>
    </Root>
   </Loggers>
</Configuration>